@model BookDetails

@{
    ViewData["Title"] = "Create";
}

<h1>Add a Book</h1>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" asp-controller="Book" method="post">
            <div class="form-group">
                <label asp-for="BookName"></label>
                <input asp-for="BookName" class="form-control"/>
                <span asp-validation-for="BookName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ISBN"></label>
                <input asp-for="ISBN" class="form-control" />
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                @*@Html.DropDownListFor(x=>x.Genre,new SelectList(Model.Genre,"Genre"),"--Select Item--",new { @class="form-control"})*@
            <select asp-for="Genre" class="form-control">
                <option value="Select Genre" disabled="disabled">Select genre</option>
                <option value="Thriller">Thriller</option>
                <option value="Fiction">Fiction</option>
                <option value="Comic">Comic</option>
                <option value="Horror">Horror</option>
                <option value="Romantic">Romantic</option>
                <option value="Fantasy">Fantasy</option>
            </select>
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublishDate"></label>
                <input asp-for="PublishDate" class="form-control" />
                <span asp-validation-for="PublishDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Add New</button>
            </div>
        </form>
    </div>
</div>

